body {
  background: pink;
}

h1 {
  color: blue;
  font-size:  3em; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
<<<<<<< HEAD
  font-size: 12px;
=======
>>>>>>> b591b7153c8eeaaee0e820232e5f695aa10cf7ef
  font-family: Arial;
}

#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}